* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
}
:root {
  --white: #ffffff;
  --gray-100: #e1e1e6;
  --gray-300: #a8a8b3;
  --gray-900: #121214;
  --cyan-500: #61dafb;
  --yellow-500: #eba417;
}
body,
input,
textarea,
select,
button {
  font-weight: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: node;
}
